.sidbar{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    /* justify-content: space-evenly; */
}
.personalinfo{
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    /* justify-content: space-between; */

}
.sidbarelements{
    height: 500px;
    background-color: #fff;
    
/* position: relative; */

    /* overflow-x: visible; */
    padding: 16px 11px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
/* .sidbarelements .active::after{
    content: 'jnwkdn';
    display: block;
    background-color: red;
    width: 8px;
    height: 56px;
    /* margin-bottom: 10px; */
    /* position: absolute; */
    /* left: -11px; */
    /* margin-right: 20px; */

/* }  */ 